<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         
          <servlet>
		<servlet-name>AggiungiProdotto</servlet-name>
		<servlet-class>it.dstech.servlet.AggiungiProdotto</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AggiungiProdotto</servlet-name>
		<url-pattern> /AggiungiProdotto</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RimuoviProdotto</servlet-name>
		<servlet-class>it.dstech.servlet.RimuoviProdotto</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RimuoviProdotto</servlet-name>
		<url-pattern> /RimuoviProdotto</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Compra</servlet-name>
		<servlet-class>it.dstech.servlet.Compra</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Compra</servlet-name>
		<url-pattern>/Compra</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ControlloAzioni</servlet-name>
		<servlet-class>it.dstech.servlet.ControlloAzioni</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ControlloAzioni</servlet-name>
		<url-pattern> /ControlloAzioni</url-pattern>
	</servlet-mapping>
       
</web-app>